<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        rows="6"
        name="title"
        type="text"
        ngModel
        required
        placeholder="Blog Title"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">{{ "Please add a title" }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        name="content"
        ngModel
        #content="ngModel"
        placeholder="Blog Content"
        required
      ></textarea>
      <mat-error *ngIf="content.invalid">{{
        "Please add some content. "
      }}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
